//
#app {
    width: 80%;
    margin: 0 auto;
}

.el-card {
    position: relative;
}

.operational {
    position: absolute;
    right: 10px;
}

.item {
    margin-top: 10px;
    margin-right: 40px;
}
